block header
    nav.navbar.navbar-expand-lg.navbar-light
        .container(style="position: relative;")
            button.navbar-toggler(style="outline: none;", data-toggle="collapse", data-target="#navbar-menu")
                span.navbar-toggler-icon
            .navbar-header
                a.navbar-brand(href="#") SPay
            .collapse.navbar-collapse#navbar-menu
                ul.nav.navbar-nav.navbar-center
                    li.nav-item
                        a.nav-link(href="/") 首页
                    li.nav-item
                        a.nav-link(href="/") 支付体验
                    li.nav-item
                        a.nav-link(href="/") 捐赠
            .attr-nav(style="position: absolute; top: 0; right: 10px;")
                ul
                    li
                        a(href="/")
                            i.fa.fa-github(style="font-size: 25px;")
                    li
                        a(href="/")
                            i.fa.fa-user-circle(style="font-size: 21px; margin-top: 2px;")
                    li
                        a(href="/")
                            i.fa.fa-qrcode(style="font-size: 23px; margin-top: 2px;")


